{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="utf-8">
<title>Blog Django</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
   <section id="wrap_heading">
       <div class="container">
       		<h1><a href="/">Blog Django</a></h1>
   		</div>
   </section>

	<section id="wrap_content">
		<div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
	        </div>
	    </div>
	</section>
</body>
</html>